.navbar.navbar-inverse
	b
		a.navbar-brand(href="#")
			p #{title}
		if user 
			if user.name == "admin"
				ul.nav.navbar-nav(role="navigation")
					li.dropdown
						a.dropdown-toggle(data-toggle="dropdown", role="button")管理
						ul.dropdown-menu(aria-labelledby="drop1", role="menu")
							li(role="presentation")
								a(role="menuitem" href="/admin/userlist")用户管理
							li(role="presentation")
								a(role="menuitem" href="/admin/movie")后台录入
							li(role="presentation")
								a(role="menuitem" href="/admin/list")电影管理

.navbar.navbar-default.navbar-fixed-bottom
	.container
		.navbar-header
			a.navbar-brand(href="/")电影网
		if user
			p.navbar-text.navbar-right
				span 欢迎您，#{user.name}
				span &nbsp; &nbsp;
				a.navbar-link(href='/logout')登出
		else
			p.navbar-text.navbar-right
				a.navbar-link(href="#", data-toggle="modal", data-target="#signupModal")注册
				span &nbsp;| &nbsp;
				a.navbar-link(href="#", data-toggle="modal", data-target="#signinModal")登陆
#signupModal.modal.fade
	.modal-dialog
		.modal-content
			form(method="POST", action="/user/signup")
				.modal-header 注册
				.modal-body
					.form-group
						label(for="signupName") 用户名
						input#signupPassword.form-control(name="user[name]", type="text")
					.form-group
						label(for="signupPassword") 密码
						input#signupName.form-control(name="user[password]", type="password")
				.modal-footer
					button.btn.btn-default(type="button", data-dismiss="modal")关闭
					button.btn.btn-success(type="submit")提交

#signinModal.modal.fade
	.modal-dialog
		.modal-content
			form(method="POST", action="/user/signin")
				.modal-header 登陆
				.modal-body
					.form-groin
						label(for="signinName") 用户名
						input#signinPassword.form-control(name="user[name]", type="text")
					.form-groin
						label(for="signinPassword") 密码
						input#signinName.form-control(name="user[password]", type="password")
				.modal-footer
					button.btn.btn-default(type="button", data-dismiss="modal")关闭
					button.btn.btn-success(type="submit")提交